<h1 class="text">Recomendados </h1>

<article *ngFor='let recomendados of recomendadosList' class="libros">
    <div class="libros__box">
        <div class="libros__image--cont">
            <img class="libros__img" src="{{ recomendados.imageUrl }}">
        </div>
            
        <div class="libros__detail--cont">
            <p class="libros__title">{{ recomendados.title }}</p>
            <p class="libros__author">{{ recomendados.author }}</p>
            <span class="libros__new" *ngIf='recomendados.isNew'>¡Nuevo!</span>
        </div>
    </div>
    
</article>
